<header>

	<h1>{{ title }}</h1>
	<div class='navbar'>
		<p><a href='/'>Home</a></p>
		{{#if user}}
		<span class="navbar-text text-dark col">{{ title }}</span>
		<a class="btn btn-dark col-auto" href="/users/logout">
			Log Out <span class="badge badge-light">{{ user.username }}
			</span></a>
		<a class="nav-item nav-link btn btn-dark col-auto" href='/notes/add'>
			ADD Note</a>
		{{else}}
		<a class="btn btn-primary" href="/users/login">Log in</a>
		{{/if}}
	</div>
</header>